{{ with .Site.GetPage "/education" }}
<h3>Education</h3>
<table>
    <tbody>
        {{ range sort (.Pages) "Params.end_date" "desc" }}
        <tr>
            <td><strong>{{ .Title }}</strong></td>
            <td class="align-right">{{ with .Params.location}}{{ . }}{{ end }}</td>
        </tr>
        <tr>
            <td><em>{{ with .Params.degree}}{{ . }}{{ end }}</em>
            </td>
            <td class="align-right"><em>
                    {{ with .Params.start_date }}{{ time.Format "Jan 2006" . }}{{ end }} –
                    {{ with .Params.end_date }}{{ time.Format "Jan 2006" . }}{{ else }}{{ "Present" }}{{ end }}</em>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}