{{ with .Site.GetPage "/experience"}}
<h3>Experience</h3>
{{ range .Pages }}
<table>
    <tbody>
        <tr>
            <td><strong>{{ .Title }}</strong></td>
            <td class="align-right">
                {{ with .Params.start_date }}
                    {{ if le ( len (time.Format "January" .)) 4}}
                        {{ time.Format "January 2006" . }}
                    {{ else }}
                        {{ time.Format "Jan. 2006" . }}
                    {{ end }}
                {{ end }} –
                {{ with .Params.end_date }}
                    {{ if le ( len (time.Format "January" .)) 4}}
                        {{ time.Format "January 2006" . }}
                    {{ else }}
                        {{ time.Format "Jan. 2006" . }}
                    {{ end }}
                {{ else }}{{ "Present" }}
                {{ end }}
            </td>
        </tr>
        <tr>
            <td><em>{{with .Params.workplace}}{{ . }}{{ end }}</em></td>
            <td class="align-right"><em>{{ with .Params.location}}{{ . }}{{ end }}</em></td>
        </tr>
    </tbody>
</table>
{{ .Content }}
{{ end }}
{{ end }}