{{ with .Site.GetPage "/projects" }}
<h3>Projects</h3>
{{ range .Pages }}
<table>
    <tbody>
        <tr>
            <td><strong>{{ .Title }} </strong><span>|</span>
                <em class="subtitle">{{ range $i, $e := .Params.tags -}}{{- if $i -}}, {{ end -}}{{ . }}{{- end -}}</em>
            </td>
            <td class="align-right">
                {{ with .Params.start_date }}
                    {{ if le ( len (time.Format "January" .)) 4}}
                        {{ time.Format "January 2006" . }}
                    {{ else }}
                        {{ time.Format "Jan. 2006" . }}
                    {{ end }}
                {{ end }} –
                {{ with .Params.end_date }}
                    {{ if le ( len (time.Format "January" .)) 4}}
                        {{ time.Format "January 2006" . }}
                    {{ else }}
                        {{ time.Format "Jan. 2006" . }}
                    {{ end }}
                        {{ else }}{{ "Present" }}
                {{ end }}
            </td>
        </tr>
    </tbody>
</table>
{{ .Content }}
{{ end }}
{{ end }}