<h3>Education</h3>
<table>
    <tbody>
        <tr>
            <td><strong>Southwestern University</strong></td>
            <td style="text-align: right;">Georgetown, TX</td>
        </tr>
        <tr>
            <td><em>Bachelor of Arts in Computer Science, Minor in
                    Business</em>
            </td>
            <td style="text-align: right;"><em>Aug. 2018 – May 2021</em></td>
        </tr>
        <tr>
            <td><strong>Blinn College</strong></td>
            <td style="text-align: right;">Bryan, TX</td>
        </tr>
        <tr>
            <td><em>Associate’s in Liberal Arts</em></td>
            <td style="text-align: right;"><em>Aug. 2014 – May 2018</em></td>
        </tr>
    </tbody>
</table>