<h3>Experience</h3>
<hr>
<table>
    <tbody>
        <tr>
            <td><strong>Undergraduate Research Assistant</strong></td>
            <td style="text-align: right;">June 2020 – Present
            </td>
        </tr>
        <tr>
            <td><em>Texas A&M University</em></td>
            <td style="text-align: right;"><em>College Station, TX</em></td>
        </tr>
    </tbody>
</table>
<ul>
    <li>Developed a REST API using FastAPI and PostgreSQL to store data from learning management systems
    </li>
    <li>Developed a full-stack web application using Flask, React, PostgreSQL and Docker to analyze GitHub
        data
    </li>
    <li>Explored ways to visualize GitHub collaboration in a classroom setting
    </li>
</ul>
<table>
    <tbody>
        <tr>
            <td><strong>Information Technology Support
                    Specialist</strong></td>
            <td style="text-align: right;">Sep. 2018 – Present</td>
        </tr>
        <tr>
            <td><em>Southwestern University</em></td>
            <td style="text-align: right;"><em>Georgetown, TX</em></td>
        </tr>
    </tbody>
</table>
<ul>
    <li>Communicate with managers to set up campus computers
        used on campus
    </li>
    <li>Assess and troubleshoot computer problems brought by
        students, faculty and staff
    </li>
    <li>Maintain upkeep of computers, classroom equipment,
        and 200 printers across campus
    </li>
</ul>
<table>
    <tbody>
        <tr>
            <td><strong>Artificial Intelligence Research
                    Assistant</strong></td>
            <td style="text-align: right;">May 2019 – July 2019</td>
        </tr>
        <tr>
            <td><em>Southwestern University</em></td>
            <td style="text-align: right;"><em>Georgetown, TX</em></td>
        </tr>
    </tbody>
</table>
<ul>
    <li>Explored methods to generate video game dungeons
        based off of <em>The Legend of Zelda</em>
    </li>
    <li>Developed a game in Java to test the generated
        dungeons
    </li>
    <li>Contributed 50K+ lines of code to an established
        codebase via Git
    </li>
    <li>Conducted a human subject study to determine which
        video game dungeon generation technique is enjoyable
    </li>
    <li>Wrote an 8-page paper and gave multiple
        presentations on-campus
    </li>
    <li>Presented virtually to the World Conference on
        Computational Intelligence
    </li>
</ul>