{{ define "main" }}
<div style="text-align: center;">
    <h1 class="name">{{ .Site.Params.name }}</h1>
    <div style="font-size: small;">
        {{ .Site.Params.Phone }} <span>|</span> <a href="mailto:x@x.com"><u>jake@su.edu</u></a> <span>|</span> <a
            href="https://linkedin.com/in/..."><u>linkedin.com/in/jake</u></a>
        <span>|</span> <a href="https://github.com/..."><u>github.com/jake</u></a>
    </div>
</div>
<h3>Education</h1>
    <hr>
    <table>
        <tbody>
            <tr>
                <td><strong>Southwestern University</strong></td>
                <td style="text-align: right;">Georgetown, TX</td>
            </tr>
            <tr>
                <td><em>Bachelor of Arts in Computer Science, Minor in
                        Business</em>
                </td>
                <td style="text-align: right;"><em>Aug. 2018 – May 2021</em></td>
            </tr>
            <tr>
                <td><strong>Blinn College</strong></td>
                <td style="text-align: right;">Bryan, TX</td>
            </tr>
            <tr>
                <td><em>Associate’s in Liberal Arts</em></td>
                <td style="text-align: right;"><em>Aug. 2014 – May 2018</em></td>
            </tr>
        </tbody>
    </table>
    <h3>Experience</h1>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td><strong>Undergraduate Research Assistant</strong></td>
                    <td style="text-align: right;">June 2020 – Present
                    </td>
                </tr>
                <tr>
                    <td><em>Texas A&M University</em></td>
                    <td style="text-align: right;"><em>College Station, TX</em></td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>Developed a REST API using FastAPI and PostgreSQL to store data from learning management systems
            </li>
            <li>Developed a full-stack web application using Flask, React, PostgreSQL and Docker to analyze GitHub
                data
            </li>
            <li>Explored ways to visualize GitHub collaboration in a classroom setting
            </li>
        </ul>
        <table>
            <tbody>
                <tr>
                    <td><strong>Information Technology Support
                            Specialist</strong></td>
                    <td style="text-align: right;">Sep. 2018 – Present</td>
                </tr>
                <tr>
                    <td><em>Southwestern University</em></td>
                    <td style="text-align: right;"><em>Georgetown, TX</em></td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>Communicate with managers to set up campus computers
                used on campus
            </li>
            <li>Assess and troubleshoot computer problems brought by
                students, faculty and staff
            </li>
            <li>Maintain upkeep of computers, classroom equipment,
                and 200 printers across campus
            </li>
        </ul>
        <table>
            <tbody>
                <tr>
                    <td><strong>Artificial Intelligence Research
                            Assistant</strong></td>
                    <td style="text-align: right;">May 2019 – July 2019</td>
                </tr>
                <tr>
                    <td><em>Southwestern University</em></td>
                    <td style="text-align: right;"><em>Georgetown, TX</em></td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>Explored methods to generate video game dungeons
                based off of <em>The Legend of Zelda</em>
            </li>
            <li>Developed a game in Java to test the generated
                dungeons
            </li>
            <li>Contributed 50K+ lines of code to an established
                codebase via Git
            </li>
            <li>Conducted a human subject study to determine which
                video game dungeon generation technique is enjoyable
            </li>
            <li>Wrote an 8-page paper and gave multiple
                presentations on-campus
            </li>
            <li>Presented virtually to the World Conference on
                Computational Intelligence
            </li>
        </ul>
        <h3>Projects</h1>
            <hr>
            <table>
                <tbody>
                    <tr>
                        <td><strong>Gitlytics</strong> <span>|</span>
                            <em>Python, Flask, React, PostgreSQL,
                                Docker</em>
                        </td>
                        <td style="text-align: right;">June 2020 – Present</td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li>Developed a full-stack web application using with
                    Flask serving a REST API with React as the frontend
                </li>
                <li>Implemented GitHub OAuth to get data from user’s
                    repositories
                </li>
                <li>Visualized GitHub data to show collaboration
                </li>
                <li>Used Celery and Redis for asynchronous tasks
                </li>
            </ul>
            <table>
                <tbody>
                    <tr>
                        <td><strong>Simple Paintball</strong>
                            <span>|</span>
                            <em>Spigot API, Java, Maven, TravisCI,
                                Git</em>
                        </td>
                        <td style="text-align: right;">May 2018 – May 2020</td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li>Developed a Minecraft server plugin to entertain
                    kids during free time for a previous job
                </li>
                <li>Published plugin to websites gaining 2K+ downloads
                    and an average 4.5/5-star review
                </li>
                <li>Implemented continuous delivery using TravisCI to
                    build the plugin upon new a release
                </li>
                <li>Collaborated with Minecraft server administrators to
                    suggest features and get feedback about the plugin
                </li>
            </ul>
            <h3>Technical Skills</h1>
                <hr>
                <ul class="skills"><strong>Languages</strong>: Java, Python, C/C++, SQL
                    (Postgres), JavaScript, HTML/CSS, R<br />
                    <strong>Frameworks</strong>: React, Node.js, Flask, JUnit,
                    WordPress, Material-UI, FastAPI<br />
                    <strong>Developer Tools</strong>: Git, Docker, TravisCI, Google
                    Cloud Platform, VS Code, Visual Studio, PyCharm, IntelliJ,
                    Eclipse</span><br />
                    <strong>Libraries</strong>: pandas, NumPy, Matplotlib
                </ul>
{{ end }}